h1 {
    text-align: center;
    color: greenyellow;

}
h2 {
    color: greenyellow;
}
p {
    color: greenyellow;
}
button {
   padding-bottom: 10p;
    background-color: rgb(21, 197, 88);
    color: #110b0b;
    font-size: 150px;
    border-radius: 10%;
    margin-left: 1%;
    margin-bottom: 1%;
    object-fit: fill;
}
a {
    text-align: center;
}
#container {
    text-align: center;
}
body {
    
    background-image: url("https://img.magnific.com/premium-photo/space-background-with-realistic-nebula-shining-stars-colorful-cosmos-with-stardust-milky-way-magic-color-galaxy-infinite-universe-starry-night-illustration_294865-8535.jpg?semt=ais_hybrid&w=740&q=80");
}

.centered-list
{
    display: table;
  margin: 0 auto;    
  text-align: left;
  color: greenyellow;
  font-size: 20px;
}
